html {
    font-size: 100%;
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
}

input {
    display: none;
}

.app-container {
    margin: 10px;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.button.disabled {
    background-color: gray;
    cursor: default;
}

.progress {
    height: 1.2rem;
    overflow: hidden;
    position: relative;
}

.progress span {
    z-index: 2;
    vertical-align: middle;
    position: relative;
}

.progress>div {
    height: 100%;
    background-color: lightblue;
    width: 0%;
    position: absolute;
    z-index: 1;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.result-card {
    margin: 10px;
    border: 2px solid lightblue;
    border-radius: 1px;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.current {
    margin: 10px;
    border: 2px solid lightblue;
}

.hash {
    height: 1.5rem;
}

.hash .fa {
    display: none;
}

.hash.loading span {
    display: inline-block;
}

.input-line {
    margin: 10px;
}

.name {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}